body{ 
    text-align: center;
    border-style: dotted;
    margin-left: 240px;
    margin-right: 240px;
    border-width: 8px;
    background-color: lightsalmon;
}
p{ 
    font-weight: bold;
}